@charset "UTF-8";
/*! Blob.cl v0.1.1 | MIT License | https://github.com/lowpez/UI */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300&display=swap');

strong {
  font-weight: 700;
}
html{font-size: 62.5%;}

input[type="text"],
input[type="email"],
textarea{
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  padding: 1.3rem;
  box-sizing: border-box;
  border: 3px solid #000;
  width: 100%;
  margin: 1rem 0 1rem;
}
input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  border: 3px solid #FFCC00;
  padding: 1.3rem;
}

input[type="search"] {
  transition: width 0.4s ease-in-out;
}
input[type="search"]:focus {
width: 100%;
}
input[type="button"] {
  font-family:'Helvetica', sans-serif;
  border: none;
  background: #000;
  color: #FFF;
  display: block;
  width: 100%;
  padding: 1.61rem 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
input[type="button"]:hover,
input[type="button"]:focus {
  outline: 0;
  background: #99ffcc;
  color: #000;
  font-weight: 700;
  transition:background .4s ease;
  /*animation: colorchange 0.9s 1;*/
}

select  {
  font-size: 1.5rem;
  padding: 1.3rem;
  box-sizing: border-box;
  border: 3px solid #000;
  width: 100%;
  margin: 1rem 0 1rem;
}

select:focus {
}

input[type=checkbox] {
  margin: 1.2em 0em ;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 3px solid #000;
  vertical-align: middle;
}
input:checked {
  background-color: #000;
  border: 3px solid #000;
}


input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:3px solid black;
    border-radius:50%;
    outline:none;  
}
input[type='radio']:hover {    
}
input[type='radio']:before {
    content:'';
    display:block;
    width:100%;
    height:100%;
    border-radius:50%;    
}
input[type='radio']:checked:before {
    background:#FFCC00;
    border: 3px solid #FFCC00 /*#FFF*/ !important;

}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/*KEYFRAMES*/

@keyframes colores {
  0% {
    background-color: #f94e4e;
  }
  40% {
    background-color: #4d89fb;
  }
  75% {
    background-color: #30c670;
  }
  100% {
    background-color: #e2d44d;
  }
}