@charset "UTF-8";
/*! Blob.cl v0.1.1 | MIT License | https://github.com/lowpez/UI */
body{

}
/*IMPLICIT GRID*/
/*.row:not(.column){
  display: grid;
}
.wrapper > *  {
 display: flex;    
}
.column {

}*/


header{
  grid-area: header;
}
nav{
  /*background: #2D2926;*/
  grid-area: nav;
}
main{
  grid-area: main;
}
aside{
  grid-area: aside;
}
section{
  grid-area: section;
}
footer{
  grid-area: footer;
}

/*CLASE ALTO 100%*/
.h-100 {
  height: 100vh;
}
/*CLASE ANCHO 100%*/
.w-100 {
  height: 100vw;
}
/*CLASE ELEMENTOS OVERLAP*/
*[class^='top-'],
*[class^='bottom-']{
  position: absolute;
}
/*MARGEN ELEMENTOS OVERLAP ARRIBA Y ABAJO*/
*[class^='bottom-']{
  bottom: 1vw;
}
*[class^='-center']{
  left: 50%;
}
*[class^='top-']{
  top: 1vw;
}
/*CLASE ELEMENTO TOP-IZQUIERDA*/
.top-left {
  left:1vw;
}
/*CLASE ELEMENTO TOP-DERECHA*/
.top-right {
  right:1vw;
}
/*CLASE ELEMENTO BOTTOM-IZQUIERDA*/
.bottom-left {
  left:1vw;
}

/*CLASE ELEMENTO BOTTOM-DERECHA*/
.bottom-right {
  right:1vw;
}
.centered{
  position: absolute;
}
.y-max-100{height: calc(100rem);}
.y-max-50{height: calc(100vh - 0rem);}
/*CSS MEDIA QUERIES 
Útiles cuando deseas modificar su sitio o aplicación según el dispositivo.
El grid lo soporta nativamente. Mas info en el READ.md*/
@media screen and (min-width: 800px) {

}