@charset "UTF-8";
/*! Blob.cl v0.1.1 | MIT License | https://github.com/lowpez/UI */
body{
  font-family: 'Times New Roman', serif;
}

.row:not(.column){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 0rem;
}
.row > *[class^='column']  {
    position: relative;
}

.column {

}


header{
  background: #000;
  grid-area: header;
}
nav{
  /*background: #2D2926;*/
  grid-area: nav;
}
main{
  grid-area: main;
  background: #FFFFFF;
}
aside{
  background: #FFCC00;
  grid-area: aside;
}
footer{
  background: #E6E6E6;
  grid-area: footer;
}

/*CLASE ALTO 100%*/
.h-100 {
  height: 100vh;
}
/*CLASE ANCHO 100%*/
.w-100 {
  height: 100vw;
}
/*CLASE ELEMENTOS OVERLAP*/
*[class^='top-'],
*[class^='bottom-']{
  position: absolute;
}
/*MARGEN ELEMENTOS OVERLAP ARRIBA Y ABAJO*/
*[class^='bottom-']{
  bottom: 1vw;
}
*[class^='top-']{
  top: 1vw;
}
/*CLASE ELEMENTO TOP-IZQUIERDA*/
.top-left {
  left:1vw;
}
/*CLASE ELEMENTO TOP-DERECHA*/
.top-right {
  right:1vw;
}
/*CLASE ELEMENTO BOTTOM-IZQUIERDA*/
.bottom-left {
  left:1vw;
}

/*CLASE ELEMENTO BOTTOM-DERECHA*/
.bottom-right {
  right:1vw;
}
.centered{
  position: absolute;
}
/*CSS MEDIA QUERIES 
Útiles cuando deseas modificar su sitio o aplicación según el dispositivo.
El grid lo soporta nativamente. Mas info en el READ.md*/
@media screen and (min-width: 800px) {

}